.friendsContainer {
   background-color: darkkhaki;
   width: 200px;
   height: 550px;
}

.friendsImg {
    height: 40px;
}

.statisticStatusGreen {
display: block;
margin: 0 8px;
width: 16px;
height: 16px;
border-radius: 50px;
background-color: green;
}

.statisticStatusRed {
    display: block;
        margin: 0 8px;
        width: 16px;
        height: 16px;
        border-radius: 50px;
        background-color: darkred;
}


.eachFriend{
    padding-top: 20px;
}


