li {
    list-style: none;
}

.img {
    height: 50px;
    padding-top: 20px;
    padding-left: 50px;
}

.profileNameSpan {
    font-size: 25px;
}

.profileSpan {
    font-size: 20px;
}

.profileContainer {
    background-color: grey;
    height: 550px;
    width: 200px;
    padding-left: 40px;
}

.statsContainer {
    padding-left: 0;
}

