li {
    list-style: none;
}

.img {
    height: 50px;
}

.profileNameSpan {
    font-size: 25px;
}

.profileSpan {
    font-size: 20px;
}

.profileContainer {
    background-color: grey;
    width: 200px;
    padding-left: 20px;
}

